demo/nifi_templates/sdp_tpl_AcquireFiles.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>90b0a1bb-0169-1000-616e-b0a284222cf0</groupId>
    <name>sdp_tpl_AcquireFiles</name>
    <snippet>
        <processGroups>
            <id>26a182aa-6c82-3866-0000-000000000000</id>
            <parentGroupId>af63e5fb-ffaf-3443-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0814a025-d9bd-3e57-0000-000000000000</id>
                    <parentGroupId>26a182aa-6c82-3866-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>26a182aa-6c82-3866-0000-000000000000</groupId>
                        <id>5a9418fb-1eba-36a5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>26a182aa-6c82-3866-0000-000000000000</groupId>
                        <id>a59912b4-a2a2-3dee-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1699bc69-32d8-36e7-0000-000000000000</id>
                    <parentGroupId>26a182aa-6c82-3866-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>822.0000040099112</x>
                        <y>332.0000088329343</y>
                    </bends>
                    <bends>
                        <x>822.0000040099112</x>
                        <y>382.0000088329343</y>
                    </bends>
                    <destination>
                        <groupId>26a182aa-6c82-3866-0000-000000000000</groupId>
                        <id>5a9418fb-1eba-36a5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>not.found</selectedRelationships>
                    <selectedRelationships>permission.denied</selectedRelationships>
                    <source>
                        <groupId>26a182aa-6c82-3866-0000-000000000000</groupId>
                        <id>5a9418fb-1eba-36a5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d2b18d7a-d057-380f-0000-000000000000</id>
                    <parentGroupId>26a182aa-6c82-3866-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>26a182aa-6c82-3866-0000-000000000000</groupId>
                        <id>7d55d936-c832-33eb-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>26a182aa-6c82-3866-0000-000000000000</groupId>
                        <id>5a9418fb-1eba-36a5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <outputPorts>
                    <id>7d55d936-c832-33eb-0000-000000000000</id>
                    <parentGroupId>26a182aa-6c82-3866-0000-000000000000</parentGroupId>
                    <position>
                        <x>418.0000040099112</x>
                        <y>488.0000088329343</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>out</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>5a9418fb-1eba-36a5-0000-000000000000</id>
                    <parentGroupId>26a182aa-6c82-3866-0000-000000000000</parentGroupId>
                    <position>
                        <x>359.0000040099112</x>
                        <y>292.0000088329343</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.0.0-165</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>File to Fetch</key>
<value>
    <name>File to Fetch</name>
</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>
    <name>Completion Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
<value>
    <name>Move Destination Directory</name>
</value>
                            </entry>
                            <entry>
<key>Move Conflict Strategy</key>
<value>
    <name>Move Conflict Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Log level when file not found</key>
<value>
    <name>Log level when file not found</name>
</value>
                            </entry>
                            <entry>
<key>Log level when permission denied</key>
<value>
    <name>Log level when permission denied</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>File to Fetch</key>
<value>${absolute.path}/${filename}</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>None</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
                            </entry>
                            <entry>
<key>Move Conflict Strategy</key>
<value>Rename</value>
                            </entry>
                            <entry>
<key>Log level when file not found</key>
<value>ERROR</value>
                            </entry>
                            <entry>
<key>Log level when permission denied</key>
<value>ERROR</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>not.found</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>permission.denied</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.FetchFile</type>
                </processors>
                <processors>
                    <id>a59912b4-a2a2-3dee-0000-000000000000</id>
                    <parentGroupId>26a182aa-6c82-3866-0000-000000000000</parentGroupId>
                    <position>
                        <x>357.0000040099112</x>
                        <y>93.00000883293433</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.0.0-165</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>listing-strategy</key>
<value>
    <name>listing-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Input Directory</key>
<value>
    <name>Input Directory</name>
</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>
    <name>Recurse Subdirectories</name>
</value>
                            </entry>
                            <entry>
<key>Input Directory Location</key>
<value>
    <name>Input Directory Location</name>
</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>
    <name>File Filter</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
<value>
    <name>Path Filter</name>
</value>
                            </entry>
                            <entry>
<key>Include File Attributes</key>
<value>
    <name>Include File Attributes</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>
    <name>Ignore Hidden Files</name>
</value>
                            </entry>
                            <entry>
<key>target-system-timestamp-precision</key>
<value>
    <name>target-system-timestamp-precision</name>
</value>
                            </entry>
                            <entry>
<key>et-state-cache</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>et-state-cache</name>
</value>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>
    <name>et-time-window</name>
</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>
    <name>et-initial-listing-target</name>
</value>
                            </entry>
                            <entry>
<key>et-node-identifier</key>
<value>
    <name>et-node-identifier</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>listing-strategy</key>
<value>timestamps</value>
                            </entry>
                            <entry>
<key>Input Directory</key>
<value>${dir_input}</value>
                            </entry>
                            <entry>
<key>Recurse Subdirectories</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Input Directory Location</key>
<value>Local</value>
                            </entry>
                            <entry>
<key>File Filter</key>
<value>[^\.].*</value>
                            </entry>
                            <entry>
<key>Path Filter</key>
                            </entry>
                            <entry>
<key>Include File Attributes</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                            <entry>
<key>Ignore Hidden Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>target-system-timestamp-precision</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>et-state-cache</key>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>3 hours</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>all</value>
                            </entry>
                            <entry>
<key>et-node-identifier</key>
<value>${hostname()}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ListFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ListFile</type>
                </processors>
            </contents>
            <name>sdp_tpl_AcquireFiles</name>
            <variables>
                <entry>
                    <key>dir_input</key>
                    <value>/tmp/demo/staged</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>03/18/2019 12:43:50 UTC</timestamp>
</template>
