demo/nifi_templates/sdp_tpl_StoreAzureBlob.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>ee90884d-0166-1000-d0db-faaa816d1a4c</groupId>
    <name>sdp_tpl_StoreAzureBlob</name>
    <snippet>
        <processGroups>
            <id>72142f2e-3c0e-3a25-0000-000000000000</id>
            <parentGroupId>2943f803-50c4-3ed9-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>7d0542de-4274-3709-0000-000000000000</id>
                    <parentGroupId>72142f2e-3c0e-3a25-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>891.0000040099112</x>
                        <y>245.00000883293433</y>
                    </bends>
                    <bends>
                        <x>891.0000040099112</x>
                        <y>295.0000088329343</y>
                    </bends>
                    <destination>
                        <groupId>72142f2e-3c0e-3a25-0000-000000000000</groupId>
                        <id>a42d7f05-7f4d-3be5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>72142f2e-3c0e-3a25-0000-000000000000</groupId>
                        <id>a42d7f05-7f4d-3be5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>efc35c1d-a3f3-3fac-0000-000000000000</id>
                    <parentGroupId>72142f2e-3c0e-3a25-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>72142f2e-3c0e-3a25-0000-000000000000</groupId>
                        <id>a42d7f05-7f4d-3be5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <source>
                        <groupId>72142f2e-3c0e-3a25-0000-000000000000</groupId>
                        <id>0225d9d5-c541-3006-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>0225d9d5-c541-3006-0000-000000000000</id>
                    <parentGroupId>72142f2e-3c0e-3a25-0000-000000000000</parentGroupId>
                    <position>
                        <x>484.0000040099112</x>
                        <y>62.00000883293433</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>in</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <processors>
                    <id>a42d7f05-7f4d-3be5-0000-000000000000</id>
                    <parentGroupId>72142f2e-3c0e-3a25-0000-000000000000</parentGroupId>
                    <position>
                        <x>428.0000040099112</x>
                        <y>205.00000883293433</y>
                    </position>
                    <bundle>
                        <artifact>nifi-azure-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.8.0.3.3.0.0-165</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>container-name</key>
<value>
    <name>container-name</name>
</value>
                            </entry>
                            <entry>
<key>storage-sas-token</key>
<value>
    <name>storage-sas-token</name>
</value>
                            </entry>
                            <entry>
<key>storage-account-name</key>
<value>
    <name>storage-account-name</name>
</value>
                            </entry>
                            <entry>
<key>storage-account-key</key>
<value>
    <name>storage-account-key</name>
</value>
                            </entry>
                            <entry>
<key>blob</key>
<value>
    <name>blob</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>container-name</key>
<value>${sdp_blob_storage_container}</value>
                            </entry>
                            <entry>
<key>storage-sas-token</key>
                            </entry>
                            <entry>
<key>storage-account-name</key>
                            </entry>
                            <entry>
<key>storage-account-key</key>
                            </entry>
                            <entry>
<key>blob</key>
<value>${sdp_dir_root}/${sdp_source_system}/${sdp_source_stream}/${filename}</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutAzureBlobStorage</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.azure.storage.PutAzureBlobStorage</type>
                </processors>
            </contents>
            <name>sdp_tpl_StoreAzureBlob</name>
            <variables>
                <entry>
                    <key>sdp_dir_root</key>
                    <value>RAW</value>
                </entry>
                <entry>
                    <key>sdp_blob_storage_container</key>
                    <value>&lt;STORAGE_CONTAINER&gt;</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>03/19/2019 10:39:05 UTC</timestamp>
</template>
